.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    /*
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 0;
    */
  }
  
  .footer p {
    text-align: center;
  }
  
  
  
  /*
  @media (max-width: 768px) {
    .footer {
      padding: 0.5em;
    }
  }
  
  @media (max-width: 480px) {
    .footer p {
      font-size: 0.9em;
    }
  }
  */