/* Header.css */
.header {
  z-index: 1000; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  background-color: #ffffff;
  border-width: 0;
  border-style: solid;  /* solid style */
  border-bottom-width: 1px;
  border-color: #ddd;
  /* 
  background-color: #ffffff;
  background-color: #c3eabd;
  position: fixed;
  justify-content: center;
  height: 100px;
  align-items: center;
  display: inline;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0 20px;
  background-color: #333;
  color: white;
  */
}

.allMenu { 
  /*
  height: 100px;
  min-width: 350px;
  max-width: 768px; 
  border-width: 3px;
  border-color: black;
  background-color: #f57878;
  */
  display: flex;
  max-width: 1000px; 
  width: 100%;
  flex-direction: column;

}

.horizontalMenu {
  /*
  background-color: #73d38e;
  */
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  /*
  background-color: rgb(237, 189, 207);
  */
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.logo .logoTxt {
  font-size: 1.5rem;
} 

.logo .logoImg {
  /*
  background-color: rgb(238, 144, 144);
  */
  
  
  display: flex;
  flex-direction: row;
  align-items: center;
} 

.logo .logoImg img {
  width: 48px;
  height: 48px;
}


.subMenu {
  /*
  background-color: rgb(184, 166, 195);
  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0;

}

.allMenu ul {
  list-style: none;
}

.allMenu a {
  text-decoration: none;
  color: black;
}

.subMenu ul {
  /*
  background-color: rgb(237, 249, 129);
  */
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.subMenu ul li {
  /*
  background-color: rgb(143, 216, 227);
  */
  margin: 0 15px;
  padding: 0;
}

.menu-icon {
  /*
  background-color: rgb(255, 155, 155);
  */
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;  
  margin: 0;  

  font-size: 24px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.appearingMenu {
  display: none;
  width: 100%;
  /*
  background-color: rgb(255, 155, 155);
  */
}

.appearingMenu ul{
  /*
  background-color: rgb(164, 190, 255);
  */
  
}
 
@media (max-width: 600px) { /*HomePage.css*/
  .subMenu {
    display: none;
  }


  .appearingMenu.open {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }

}
/*





  .menu.open {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
    width: 100%;
  }

  .menu ul li {
    margin: 10px 0;
    text-align: center;
  }
  



body {
  padding-top: 100; 
}*/
